* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#111, #222);
  position: relative;
  font-family: sans-serif;
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

.container {
  background-color: #333;
  position: absolute;
  margin: auto;
  width: 85%;
  height: 85%;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    text-align: center;
    justify-content: flex-start;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
}

.nav .logo {
  width: 30%;
}

@media (max-width: 768px) {
  .nav .logo {
    width: 100%;
    margin-bottom: 10px;
  }
}
.nav .logo span {
  cursor: pointer;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
}

@media (max-width: 768px) {
  .nav ul {
    width: 100%;
    display: inline-flex;
    gap: 10px;
  }
}
.nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.nav ul li a:hover {
  color: red;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .details {
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }
  .details .information h2 {
    font-size: 30px;
  }
}

.details .information {
  width: 40%;
}
.details .information h2 {
  font-size: 34px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.details .information p {
  font-size: 18px;
  padding: 10px;
  letter-spacing: 2px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .details .information {
    width: 100%;
  }
}

.details .photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .photo {
  width: 50%;
}
.details .photo img {
  margin: auto;
  width: 70%;
}

@media (max-width: 768px) {
  .details .photo {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .details .photo img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .details .photo img {
    width: 60%;
  }
}

.ball {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: -40%;
  bottom: -50%;
  opacity: 0.6;
  z-index: -1;
}
